<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Transactions</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css">
    <link rel="stylesheet" href="../../assets/css/Contact-Directory.css">
    <link rel="stylesheet" href="../../assets/css/Form.css">
    <link rel="stylesheet" href="../../assets/css/Manage-Users.css">
    <link rel="stylesheet" href="../../assets/css/Team-Horizontal-icons.css">
    <link rel="stylesheet" href="../../assets/css/Team-Horizontal-images.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-topbar></app-topbar>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Transactions</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Transaction Info</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left;">Customer</th>
                                            <th style="text-align: left;">Product</th>
                                            <th style="text-align: center;">Price</th>
                                            <th style="text-align: center;">Quantity</th>
                                            <th style="text-align: center;">Date</th>
                                            <th style="text-align: center;">Total</th>
                                            <th style="text-align: center;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let transaction of transactions">
                                            <td style="text-align: left;">
                                                <img class="rounded-circle me-2" width="30" height="30" [src]="transaction.customer.customerImage">
                                                {{ transaction.customer.customerName }}
                                            </td>
                                            <td style="text-align: left;">{{ transaction.product.productName }}</td>
                                            <td style="text-align: center;">{{ transaction.product.productPrice | currency: 'USD' }}</td>
                                            <td style="text-align: center;">{{ transaction.quantity }}</td>
                                            <td style="text-align: center;">{{ transaction.saleDate }}</td>
                                            <td style="text-align: center;">{{ transaction.totalPrice | currency: 'USD' }}</td>
                                            <td style="text-align: center;">
                                                <i class="far fa-trash-alt" (click)="deleteTransaction(transaction.id)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>

</html>