<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css">
    <link rel="stylesheet" href="../../assets/css/Contact-Directory.css">
    <link rel="stylesheet" href="../../assets/css/Manage-Users.css">
    <link rel="stylesheet" href="../../assets/css/Team-Horizontal-icons.css">
    <link rel="stylesheet" href="../../assets/css/Team-Horizontal-images.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-topbar></app-topbar>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Customers</h3>
                </div>
                <!-- <div class="card" style="width: auto; height: auto; max-width: 500px; max-height: 350px;">
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <div class="media">
                                            <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <h5 class="mt-0 font-18 mb-1">Pauline I. Bird</h5>
                                                <p class="text-muted font-14">Web developer</p>
                                                <ul class="social-links list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-pencil"></i></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4" *ngFor="let customer of customers">
                      <div class="card m-b-30">
                        <div class="card-body">
                          <div class="media">
                            <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" [src]="customer.customerImage" alt="Customer Image" />
                            <div class="media-body">
                              <h5 class="mt-0 font-18 mb-1">{{ customer.customerName }}</h5>
                              <p class="text-muted font-14">{{ customer.customerDob | date: 'mediumDate' }}</p>
                              <p class="text-muted font-14">{{ customer.customerPhone }}</p>
                              <p class="text-muted font-14">{{ customer.customerEmail }}</p>
                              <p class="text-muted font-14">{{ customer.customerAddress }}</p>
                              <p class="text-muted font-14">{{ customer.customerCreditCard }}</p>
                              <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item">
                                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                </li>
                                <li class="list-inline-item">
                                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>

</html>