<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Products</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css">
    <link rel="stylesheet" href="../../assets/css/Contact-Directory.css">
    <link rel="stylesheet" href="../../assets/css/Manage-Users.css">
    <link rel="stylesheet" href="../../assets/css/Team-Horizontal-icons.css">
    <link rel="stylesheet" href="../../assets/css/Team-Horizontal-images.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-topbar></app-topbar>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Products</h3>
                </div>
                <div class="container">
                    <div class="row product-list dev">
                        <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left" *ngFor="let product of products">
                            <div class="product-container" style="max-width: 350px; max-height: 600px; border-radius: 10px;">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" href="#"><img [src]="product.productImage"></a>
                                        <div class="row">
                                            <div class="col" style="text-align: center;">
                                                <i class="fas fa-pencil-alt" style="font-size: 20px;" (click)="openEditModal(product.productId)"></i>
                                            </div>
                                            <div class="col" style="text-align: center;">
                                                <i class="far fa-trash-alt" style="font-size: 20px;" (click)="deleteProduct(product.productId, $event)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8" style="margin-top: 15px; margin-bottom: -16px;">
                                        <h5 class="mt-0 font-18 mb-1">{{ product.productName }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="product-description text-muted font-14">{{ product.productDescription }}</p>
                                        <div class="row">
                                            <div class="col">
                                                <div ngbDropdown class="d-inline-block" style="text-align: center; margin-bottom: 20px;">
                                                    <button class="btn btn-primary" id="dropdownCustomer" ngbDropdownToggle [attr.aria-expanded]="isDropdownOpen" style="background-color: rgb(169,170,179); border-radius: 5px;">
                                                      {{ selectedCustomer?.customerName || 'Customer' }}
                                                    </button>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownCustomer">
                                                      <button class="dropdown-item" *ngFor="let customer of customers" (click)="selectCustomer(customer)" style="background-color: white; color: #8898aa;">{{ customer.customerName }}</button>
                                                    </div>
                                                </div>                                                  
                                                <br>
                                                <span>Quantity:</span>
                                                <div class="btn-group" role="group"></div>
                                                <input type="number" [(ngModel)]="quantity" style="max-width: 50px; margin-left: 5px; margin-top: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-color: var(--bs-body-color); border-radius: 5px;">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-light" type="button" style="margin-top: 15px; border-radius: 5px;" (click)="buyProduct(product.productId)">Buy</button>
                                            <div class="col-6">
                                                <p class="product-price" style="margin-top: 5px;">{{ product.productPrice | currency: 'USD' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="border rounded d-inline scroll-to-top" href="#page-top" (click)="openAddProductModal($event)"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>

</html>